/* BLOG Styling */
.button {
    font-size: 20px;
    border: 2px #00BFFF;
    width: 10%;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #41B883;
  }
  
.blog {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    text-indent: 50px;
  }


/*Divider*/
hr.divider {
    border-top: 2px solid #151313;
  }

  /* General Formatting */
body,
html {
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  background-color: #87CEEB;
  padding: 10px;
  font-size: 20px;
}


.title {
  font-family: "Montserrat", Arial, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0;
    color: #333;
 }


.heading {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
    color: #333;
  }
  

/* Center Alignment */
.center {
  text-align: center;
}

/* Navbar Styling */
.navbar {
  overflow: hidden;
  background-color: #005F99;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 88888;
}


.logoImg{
  background-color: #26303e;
}

.navbar a {
  float: left;
  font-size: 23px;
  color: white;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
}

.navbar a:hover{
  background-color:  #93ccea;
  color: black;
  padding-bottom: 22px;
}

.logoImg:hover img {
  filter: brightness(0.8); /* Darkens the logo slightly */
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn{
  font-size: 23px;  
  border: none;
  outline: none;
  color: white;
  padding-top: 17px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: #93ccea;
  padding-bottom: 22px;
  color: black;
}

/* FAQ Dropdown */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Homepage Styling */
.title {
  margin: 5px;
  font-size: 50;
}

/* Footer */
.footer {
  color: black;
  padding-top: 25px;
  text-align: center;
  display: none;
}