/* General Formatting */
body,
html {
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  background-color: #87CEEB;
  padding: 10px;
  font-size: 18px;
}

.title {
  font-family: "Montserrat", Arial, sans-serif;
}

/* Center Alignment */
.center {
  text-align: center;
}

/* Navbar Styling */
.navbar {
  overflow: hidden;
  background-color: #005F99;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}


.logoImg{
  background-color: #26303e;
}

.navbar a {
  float: left;
  font-size: 23px;
  color: white;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
}

.navbar a:hover{
  background-color:  #93ccea;
  color: black;
  padding-bottom: 22px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn{
  font-size: 23px;  
  border: none;
  outline: none;
  color: white;
  padding-top: 17px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: #93ccea;
  padding-bottom: 22px;
  color: black;
}


/* FAQ Dropdown */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Homepage Styling */
.title {
  margin: 5px;
  font-size: 50;
}

/* Footer */
.footer {
  color: black;
  padding-top: 25px;
  text-align: center;
}

/* About Page Styling */
.about {
  text-align: left;
}

/* FAQ Page Styling */
.FAQ {
  margin: 10px;
}

/* FAQ Dropdowns */
.dropdownTitle {
  width: 90%;
  font-size: 20px;
  background-color: #D0D3D4;
  text-align: left;
  padding: 5px;
  line-height: 1.5;
  transition-duration:400ms;
}

.dropdownText {
  width: 90%;
  font-size: 20px;
  margin: auto;
  background-color: #dfe7f0;
  text-align: left;
  padding: 5px;
  line-height: 1.5;
}

.dropdownTitle:hover {
  cursor: pointer;
  color: white;
  background-color: #005F99;
}

/* Homepage Daily Tip Styling */
#tipid{
  padding: 15px;
  font-size: 20px;
  background-color: #D0D3D4;
  border-radius: 10px;
  border: 2px solid #1C2833;
  width: 50%;
  margin: auto;
}
