/* Countdown Timer Interface */
.countdownTimer {
  margin-top: 20px;
}
.body {
  display: grid; 
  place-items: center;
}
.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

#submitInputBox {
  font-size: 20 px;
  border: none;
  background-color: rgb(65, 184, 131);
}

#pauseTimer {
  font-size: 20 px;
  background-color: red;
  border: none;
}

#resetTimer {
  font-size: 20 px;
  background-color: #93ccea;
  border: none;
}


#tipid{
  border: 2px solid black;
  padding: 7px;
  background-color: #D0D3D4;
}


/* General Formatting */
body,
html {
  font-family: 'Roboto';
  text-align: center;
  background-color: #87CEEB;
  padding: 10px;
  font-size: 18px;
}

/* Center Alignment */
.center {
  text-align: center;
}

/* Navbar Styling */
.navbar {
  overflow: hidden;
  background-color: #005F99;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #93ccea;
  color: black;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer */
.footer {
  color: black;
  padding-top: 25px;
  text-align: center;
}

